.addTodo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
}
.addTodo input{
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
.addTodo button{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
.addTodo button:hover{
    background-color: #61dafb;
    color: black;
}
.addTodo button:active{
    background-color: #61dafb;
    color: black;
}

