/* TodoList.css */
.todo-list {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
  }
  
.todo-list ol {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
  .todo-list li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 100%;
    padding: 8px;
  }
  
  .todo-list input[type="checkbox"] {
    margin-right: 8px;
  }
  
  .todo-list .completed {
    text-decoration: line-through;

  }
  
    .todo-list button {
        margin-left: 8px;
        padding: 4px 10px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 0.5rem;
    }