.todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: black;
  }
  
   input {
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
  .todo-form button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;

  }
  
  .todo-form button:hover {
    background-color: #0056b3;
  }
  